/* Jaap Nieuwenhuizen */

/* continent color */
.continent
{
  
}

/* country colors */
#country1
{
  
}

#country2
{

}

#fra
{
    fill: blue;
}

#ier
{
    fill: orange;
}

#esp
{
    fill: yellow;
}