body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#DeBilt {
  fill: none;
  stroke: red;
  stroke-width: 2px;
}

#Vlissingen {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.focusLine {
    fill: none;
    stroke: black;
    stroke-width: 1px;
}

.focusCircle {
    fill: limegreen;
}

.overlay {
  fill: none;
  stroke: none;
  pointer-events: all;
  stroke-width: 2px;
}
