body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.crosshair {
      fill: none;
      stroke-width: 1px;
}

#crosshairX {
  stroke: red;
  stroke-width: 1px;
}

#crosshairY {
  stroke: red;
  stroke-width: 1px;
}

.overlay {
  fill: none;
    stroke: black;
    pointer-events: all;
    stroke-width: 2px;
}
